@model IEnumerable<WebDauGia.Models.CONTACT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}
<h2 style="text-align:left;margin-top:20px;">DANH SÁCH LIÊN HỆ</h2>

<p style="text-align:right;margin:20px;">

</p>
<table class="table" id="Table">
    <thead>
        <tr>
            <th width="250">
                TIêu đề
            </th>
            <th width="200">
                Email
            </th>
            <th width="300">
                Nội dung
            </th>
            <th width="100">
               Họ và tên
            </th>
            <th width="100">
                Trạng thái
            </th>
            <th width="150">Chỉnh sửa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.USER.Fullname)
                </td>
                <td>
                    @if (item.Status == false)
                    {
                        <span style="color:darkorange;">Chưa xem</span>
                    }
                    else
                    {
                        <span style="color:cornflowerblue;">Đã xem</span>
                    }
                </td>
                <td style="text-align: center;">

                    <a class="btn btn-sm btn-success" href="@Url.Action("Feedback","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Details","CONTACTs",new { @id = item.IdContact })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
