@model IEnumerable<WebDauGia.Models.BID>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:left;margin-top:20px;">DANH SÁCH CÁC CUỘC ĐẤU GIÁ</h2>
<table class="table" id="Table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BidTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCT.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USER.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BidPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRODUCT.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER.Fullname)
            </td>
            <td style=" text-align: center;">
                <a class="btn btn-sm btn-success" href="@Url.Action("Edit","BIDs",new { @id = item.Id })">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","BIDs",new { @id = item.Id})">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a class="btn btn-sm btn-info" href="@Url.Action("Details","BIDs",new { @id = item.Id })">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
         
        </tr>
        }
</tbody>
</table>


