@model PagedList.PagedList<WebDauGia.Models.BLOG>

@foreach (var blog in Model)
{
    <div id="blog-listing" class="col-md-4 my-2">
        <a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)">
            @foreach (var item in blog.IMG_BLOG)
            {

                if (blog.IdBlog == item.IdBlog)
                {
                    <img src="@item.LinkImg" alt="Example blog post alt" class="img-fluid shadow">
                }


            }
        </a>
    </div>
    <div class="col-md-8 my-2">
        <a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)"><h2 class="h3 mt-0"> @blog.Title</h2></a>
        <div class="d-flex flex-wrap justify-content-between text-xs">
            <p class="author-category">
                <span>in</span> XEMAYDHCV
            </p>

        </div>
        <p class="card-title text-dark" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></p>
        <p class="read-more"><a href="@Url.Action("Detail", "Blog", new { id = blog.IdBlog }, null)" class="btn btn-primary">Đọc thêm</a></p>
    </div>
}


