@model IEnumerable<WebDauGia.Models.PRODUCT>
@using System.Globalization

@Html.Raw(ViewBag.notify)
@foreach (var i in Model)
{
    <div class="col-lg-4 col-md-6">
        <a href="@Url.Action("Detail","Product", new { @id = i.IdProduct}, null)">
            <div class="product">
                <div class="flip-container">
                    <div class="image">
                        @foreach (var img in i.IMG)
                        {
                            <img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid">
                        }
                    </div>
                </div>
                <div class="text">
                    <h3>@i.NameProduct</h3>
                    <p class="price">
                        @string.Format(new CultureInfo("vi-VN"), "{0:c}", i.PriceBuy)
                    </p>
                </div>
            </div>
        </a>
    </div>
}
