@model PagedList.PagedList<WebDauGia.Models.PRODUCT>

@Html.Raw(ViewBag.notify)
@foreach (var i in Model)
{
    <div class="col-lg-4 col-md-6">
        <a href="@Url.Action("Detail", "Product", new { url = i.ToURL() }, null)">
            <div class="product shadow" style="border-radius: 15px;">
                @foreach (var img in i.IMG)
                {
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="@Url.Content(img.LinkImg)"
                                     alt="@Url.Content(img.LinkImg)"
                                     style="width:100%;
                                            height:133px;
                                            border-top-left-radius: 15px;
                                            border-top-right-radius: 15px;">
                            </div>
                        </div>
                    </div>
                    <div class="invisible">
                        <img src="@Url.Content(img.LinkImg)" alt="@Url.Content(img.LinkImg)" class="img-fluid" style="width: 100%; height: 133px; ">
                    </div>
                }
                <div class="text">
                    <h3>@i.NameProduct</h3>
                    <p class="price">
                        <span style="color:#dc3545; font-weight:bold;">
                            @string.Format("{0:#,##0}", i.PriceBuy) VNĐ
                        </span>
                    </p>
                </div>
            </div>
        </a>
    </div>
}

