﻿@model WebDauGia.Models.PRODUCT
@using System.Globalization

<div class="box">
    <h1 style="font-weight:bold;">Đăng bán tài sản</h1>
    <p class="lead">Hãy nhập đầy đủ thông tin chi tiết tài sản bạn muốn bán vào bên dưới:</p>
    <form>
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="NameProduct" class="form-control border border-dark mb-2" style="width:100%" placeholder="Tên tài sản..." required />

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="Location" class="form-control border border-dark mb-2" style="width:100%" placeholder="Địa chỉ:" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div id="id-cate">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdCate, "IdCate", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdCate", null, htmlAttributes: new { @class = "form-control border border-dark" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div id="id-brand">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdBrand, "IdBrand", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownList("IdBrand", null, htmlAttributes: new { @class = "form-control border border-dark" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LowestBid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.LowestBid, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PriceBuy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PriceBuy, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control border border-dark " } })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StatusBid, htmlAttributes: new { @class = "control-label col-md-2 " })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.StatusBid)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-md-6 col-lg-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StatusBid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.StatusBid)
                            </div>
                        </div>
                    </div>
                </div>*@   <div class="row">

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" }, @id = "txtBodyBlog" })
                            @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                            <script>CKEDITOR.replace("txtBodyBlog");</script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row-->
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Đăng bán" class="btn btn-success" />
                </div>
            </div>

        </div>
    </form>

</div>
