@using WebDauGia.Models
@model PRODUCT

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Public/js/countdown.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Tài sản đấu giá</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12">
                    <h1 class="text_Title_Detail">
                        @Model.NameProduct
                    </h1>
                </div>

                <div class="col-lg-12 order-1 order-lg-2">
                    <div id="productMain" class="row">
                        <div class="col-md-5">
                            <div data-slider-id="1" class="shop-detail-carousel owl-carousel ">
                                @foreach (var item in ViewBag.ImageList as List<IMG>)
                                {
                                    <div class="item"> <img src="@Url.Content(item.LinkImg)" alt="" class="img-fluid"></div>
                                }
                            </div>
                            <div data-slider-id="1" class="owl-thumbs">
                                <button class="owl-thumb-item"><img src="img/Capdongvienthong.jpg" alt="" class="img-fluid"></button>
                                <button class="owl-thumb-item"><img src="img/Capdongvienthong.jpg" alt="" class="img-fluid"></button>
                                <button class="owl-thumb-item"><img src="img/Capdongvienthong.jpg" alt="" class="img-fluid"></button>
                            </div>
                            <!-- /.ribbon-->
                        </div>
                        <div class="col-md-7">
                            <p>Thời gian đếm ngược bắt đầu trả giá:</p>
                            <div class="container">
                                <div class="countdown">
                                    <div class="container-day">
                                        <h3 class="day">Time</h3>
                                        <h3>Ngày</h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="hour">Time</h3>
                                        <h3>Giờ</h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="minute">Time</h3>
                                        <h3>Phút</h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="second">Time</h3>
                                        <h3>Giây</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="container">


                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="text-center">Mã tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.IdProduct</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="text-center">Số lượng:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.Quantity</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Thời gian mở đăng ký:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.StartingDate</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Thời gian kết thúc đăng ký:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.EndingDate</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Phí đăng ký tham gia đấu giá:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty novaticPrice">XXX.XXX</span><span class="spanColorAuctionproperty"> VNĐ</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Bước giá:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span id="stepPrice" class="spanColorAuctionproperty novaticPrice">XXX.XXX</span><span class="spanColorAuctionproperty"> VNĐ</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Số bước giá tối đa/ lần trả:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span id="stepPrice" class="spanColorAuctionproperty">XXX bước giá</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Tiền đặt trước:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty novaticPrice"> XX.XXX.XXX</span><span class="spanColorAuctionproperty"> VNĐ</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Tên chủ tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.USER.Fullname</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Nơi xem tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            @Model.Location
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty" style="font-size:20px;">Giá khởi điểm:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            <span class="spanColorAuctionproperty" style="font-size:20px;"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty" style="font-size:20px;">Giá mua:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            <span class="spanColorAuctionproperty" style="font-size:20px;">  @string.Format("{0:#,##0}", Model.PriceBuy) VNĐ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    @*<div class="col-sm-12 col-xs-12">
            <span class="spanauctionproperty" style="font-size:24px;">Giá khởi điểm: <span class="spanColorAuctionproperty">@Model.StartPrice</span></span>
        </div>
        <div class="col-sm-12 col-xs-12">
            <span class="spanauctionproperty" style="font-size:24px;">Giá mua: <span class="spanColorAuctionproperty">@Model.PriceBuy</span></span>
        </div>*@
                              
                                        <div class="col-sm-12 col-xs-6">
                                            <p class="text-left buttons"><a href="basket.html" class="btn btn-primary"> ĐĂNG KÝ ĐẤU GIÁ</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="box py-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="mb-0">TÀI SẢN SẮP ĐƯỢC ĐẤU GIÁ</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="product-slider owl-carousel owl-theme">
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                    <!-- /.ribbon-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="detail.html">
                                                    <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                                         class="img-fluid">
                                                </a>
                                            </div>
                                        </div>
                                    </div><a href="detail.html" class="invisible">
                                        <img src="~/Public/img/Capdongvienthong.jpg" alt=""
                                             class="img-fluid">
                                    </a>
                                    <div class="text">
                                        <h3><a href="detail.html">@Model.NameProduct</a></h3>
                                        <p class="price">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                            <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) VNĐ</span>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                </div>
                                <!-- /.product-->
                            </div>
                            <!-- /.product-slider-->
                        </div>
                        <!-- /.container-->
                    </div>
                    <!-- /#hot-->
                    <!-- *** HOT END ***-->
                </div>
            </div>
        </div>
    </div>
</div>