@using WebDauGia.Models
@model PRODUCT
@using System.Globalization
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Tài sản đấu giá</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12">
                    <h1 class="text_Title_Detail">
                        @Model.NameProduct
                    </h1>
                </div>

                <div class="col-lg-12 order-1 order-lg-2">
                    <div id="productMain" class="row">
                        <div class="col-md-5">
                            <div data-slider-id="1" class="shop-detail-carousel owl-carousel ">
                                @foreach (var item in ViewBag.ImageList as List<IMG>)
                                {
                                    <div class="item"> <img src="@Url.Content(item.LinkImg)" alt="" class="img-fluid"></div>
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div id="notify" class="container" style="color: blue;"><b></b></div>
                            <div class="container">
                                <div class="countdown">
                                    <div class="container-day">
                                        <h3 class="day"></h3>
                                        <h3 id="text-day"></h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="hour"></h3>
                                        <h3 id="text-hour"></h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="minute"></h3>
                                        <h3 id="text-minute"></h3>
                                    </div>
                                    <div class="container-day">
                                        <h3 class="second"></h3>
                                        <h3 id="text-second"></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="tab">
                                    <button class="infor_tablink" onclick="openInfo(event,this,'InforProduct')">THÔNG TIN TÀI SẢN</button>
                                    <button class="infor_tablink active" onclick="openInfo(event,this,'Auction')" id="defaultOpen">ĐẤU GIÁ</button>
                                </div>
                                <div id="Auction" class="infor_tabcontent">

                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Mã tài sản:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty">@Model.IdProduct</span>
                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Số lượng:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty">@Model.Quantity</span>
                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Thời gian bắt đầu đấu giá:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span id="StartingDate" class="spanColorAuctionproperty">@Model.StartingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>

                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Thời gian kết thúc đấu giá:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span id="EndingDate" class="spanColorAuctionproperty"></span>
                                        </div>
                                    </div>

                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Bước giá:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span id="stepPrice" class="spanColorAuctionproperty novaticPrice">@string.Format("{0:#,##0}", Model.LowestBid) ₫</span>
                                        </div>
                                    </div>

                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Giá khởi điểm:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty">
                                                <span class="spanColorAuctionproperty"> @string.Format("{0:#,##0}", Model.StartPrice) ₫</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Giá mua:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty">
                                                <span class="spanColorAuctionproperty">  @string.Format("{0:#,##0}", Model.PriceBuy) ₫</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Giá hiện tại:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty">
                                                <span class="spanColorAuctionproperty lastest-price">
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Giá thấp nhất tiếp theo:</span>
                                        </div>
                                        <div class="col-sm-7 col-xs-6">
                                            <span class="spanColorAuctionproperty next-price">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <span class="spanauctionproperty">Giá của bạn:</span>
                                        </div>
                                        <div id="set_price" class="col-sm-7 col-xs-6">
                                            <input class="minus is-form" type="button" value="-">
                                            <input class="input-qty" type="number" max="" min="0" step="@Model.LowestBid">
                                            <input class="plus is-form" type="button" value="+">
                                        </div>

                                    </div>
                                    <div class="row novaticDivAuctionProperty">
                                        <div class="col-sm-5 col-xs-6">
                                            <p class="text-left buttons"><a id="datgia" class="btn btn-primary">ĐẶT GIÁ</a></p>
                                        </div>
                                        <div class="col-sm-5 col-xs-6">
                                            <a id="btn-buy" class="btn btn-info text-white">MUA SẢN PHẨM</a>
                                        </div>
                                        <div id="set_price" class="col-sm-6 col-xs-6">
                                            @if (Session["userID"] == null)
                                            {
                                                <p id="dangkydaugia" class="text-left buttons"><a href="@Url.Action("Login", "Account")" class="btn btn-primary"> ĐĂNG KÝ ĐẤU GIÁ</a></p>

                                            }
                                            else
                                            {
                                                <p id="dangkydaugia" data-toggle="modal" data-target="#detail-modal" class="text-left buttons"><a href="#" class="btn btn-primary"> ĐĂNG KÝ ĐẤU GIÁ</a></p>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="InforProduct" class="infor_tabcontent">
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="text-center">Mã tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.IdProduct</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="text-center">Số lượng:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.Quantity</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Thời gian mở đăng ký:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span id="StartingDate" class="spanColorAuctionproperty">@Model.StartingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>

                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Thời gian kết thúc đăng ký:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span id="EndingDate" class="spanColorAuctionproperty">@Model.EndingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Bước giá:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span id="stepPrice" class="spanColorAuctionproperty novaticPrice">@string.Format("{0:#,##0}", Model.LowestBid) ₫</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Tên chủ tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">@Model.USER.Fullname</span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty">Nơi xem tài sản:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            @Model.Location
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty" style="font-size:20px;">Giá khởi điểm:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            <span class="spanColorAuctionproperty" style="font-size:20px;"> @string.Format("{0:#,##0}", Model.StartPrice) ₫</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                    <div class="col-sm-5 col-xs-6">
                                        <span class="spanauctionproperty" style="font-size:20px;">Giá mua:</span>
                                    </div>
                                    <div class="col-sm-7 col-xs-6">
                                        <span class="spanColorAuctionproperty">
                                            <span class="spanColorAuctionproperty" style="font-size:20px;">  @string.Format("{0:#,##0}", Model.PriceBuy) ₫</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row novaticDivAuctionProperty">
                                </div>
                            </div>
                        </div>
                        <div id="detail-modal" aria-hidden="true" class="modal fade" style="margin-top: 130px">
                            <div role="document" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 id="detail-modalLabel" class="modal-title-detail">Xác nhận đăng ký</h4>
                                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="text-center">Họ và tên:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span class="spanColorAuctionproperty">@Model.USER.Fullname</span>
                                            </div>
                                        </div>
                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="text-center">Email:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span class="spanColorAuctionproperty">@Model.USER.Email</span>
                                            </div>
                                        </div>
                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="spanauctionproperty">Số điện thoại:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span id="StartingDate" class="spanColorAuctionproperty">@Model.USER.Phone</span>

                                            </div>
                                        </div>
                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="spanauctionproperty">Địa chỉ:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span id="EndingDate" class="spanColorAuctionproperty">@Model.USER.Address</span>
                                            </div>
                                        </div>
                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="spanauctionproperty">Phí đăng ký tham gia đấu giá:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span class="spanColorAuctionproperty novaticPrice">XXX.XXX</span><span class="spanColorAuctionproperty"> ₫</span>
                                            </div>
                                        </div>

                                        <div class="row novaticDivAuctionProperty">
                                            <div class="col-sm-5 col-xs-6">
                                                <span class="spanauctionproperty" style="font-size:20px;">Giá mua:</span>
                                            </div>
                                            <div class="col-sm-7 col-xs-6">
                                                <span class="spanColorAuctionproperty">
                                                    <span class="spanColorAuctionproperty" style="font-size:20px;">  @string.Format("{0:#,##0}", Model.PriceBuy) ₫</span>
                                                </span>
                                            </div>
                                        </div>
                                        <p class="text-center buttons"><a id="btn-confirm-register" data-dismiss="modal" class="btn btn-primary">XÁC NHẬN ĐĂNG KÝ</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <button class="tablink" onclick="openPage(event,this,'Description')" id="defaultOpen">THÔNG TIN TÀI SẢN</button>
                        <button class="tablink" onclick="openPage(event,this,'Document')">TÀI LIỆU LIÊN QUAN</button>
                        <button class="tablink" onclick="openPage(event,this,'Info')">THÔNG TIN ĐẤU GIÁ</button>
                        <button class="tablink" onclick="openPage(event,this,'Asset')">TÀI SẢN LIÊN QUAN</button>
                    </div>
                    <div id="Description" class="tabcontent">
                        @if (Session["userID"] != null)
                        {
                            @Html.Raw(Model.Desc)
                        }
                        else
                        {
                            <p>Đăng nhập để xem thông tin này.</p>
                        }
                    </div>

                    <div id="Document" class="tabcontent">
                        <h3>News</h3>
                        <p>Some news this fine day!</p>
                    </div>

                    <div id="Info" class="tabcontent">
                        <ul class="list-unstyled">

                            <li class="list-item">
                                <i class="fa fa-info-circle"></i>
                                <span>Tên tổ chức: </span>
                                <span class="details">
                                    <a href="">Công ty Đấu giá hợp danh Đạt Trường Vũ</a>
                                </span>
                            </li>

                            <li class="list-item">
                                <i class="fa fa-user-circle"> </i>
                                <span class="fa-padding-right">
                                    Đấu giá viên:
                                </span>

                                <span class="details">
                                    <a href="">Đạt Trường Vũ</a>
                                </span>
                            </li>
                            <li class="list-item">
                                <i style="color: #b41712;" class="fa fa-map-marker"> </i>
                                <span style=" padding-left: 6px;">Địa chỉ: </span>
                                <span style="font-weight: bold;" class="details">
                                </span>
                            </li>
                            <li class="clearfix" style="display:none">
                                <span class="seller-rating">
                                    <span title=" Rated 5.00 out of 5" class="star-rating">
                                        <span class="width" style="width: 100%"></span>
                                        <span><strong>5.00</strong></span>
                                    </span>
                                </span>
                                <span class="text">5.00 rating from 1 review</span>
                            </li>

                        </ul>
                    </div>
                    <div id="Asset" class="tabcontent">
                        <div id="bid-history" class="container">

                        </div>
                    </div>
                    <hr />
                    <div class="box py-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="mb-0 text-center">TÀI SẢN LIÊN QUAN</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="product-slider owl-carousel owl-theme">
                            @foreach (var i in ViewBag.Product)
                            {
                                <a href="@Url.Action("Detail","Product", new { @id = i.IdProduct}, null)">
                                    <div class="item">
                                        <div class="product">
                                            <div class="flip-container">
                                                <div class="image">
                                                    @foreach (var img in i.IMG)
                                                    {
                                                        <img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid">
                                                    }
                                                </div>
                                            </div>
                                            <div class="text">
                                                <h3>@i.NameProduct</h3>
                                                <p class="price">
                                                    <b>Giá khởi điểm:</b>
                                                    <span> @string.Format(new CultureInfo("vi-VN"), "{0:c}", i.PriceBuy)</span>
                                                </p>
                                                <p class="time">
                                                    <span>Thời gian:@i.StartingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                    <!-- /#hot-->
                    <!-- *** HOT END ***-->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        let idProduct = @Model.IdProduct;
        let startPrice = @Model.StartPrice;
        let inputPrice = document.querySelector('input.input-qty');
        let stepPrice = @Model.LowestBid;
        let lastestPrice = 0;
        let checkTime = true;
        let idCount = 0;

        $(document).ready(function () {
            checkHistory();
            idCount = setInterval(countdown, 1000);

            connect();
            setInterval(stopCountdown, 1000)
            checkRegister();
            updateTime();
        });

        function connect() {
            var hub = $.connection.myHub;

            hub.client.UpdateData = function () {
                getLastestPrice();
                updateTime();
            };

            $.connection.hub.start().done(function () {
                console.log('Kết nối thành công')
                getLastestPrice();
                updateTime();
            });
        }

        $('#btn-confirm-register').click(function () {
            $.ajax({
                type: 'GET',
                url: '/bid/register/',
                data: { idProduct: idProduct},
                success: function () {
                    checkRegister()
                },
                error: function () {
                    alert('đăng ký thất bại')
                }
            });
        })

        $('input.is-form').on('click', function () {
            if ($(this).val() == '+') {
                inputPrice.stepUp();
            } else {
                inputPrice.stepDown();
            }
        })

        $('#datgia').click(function () {
            $.ajax({
                type: 'GET',
                url: '/bid/checkRegister/',
                data: { idProduct: idProduct },
                success: function (data) {
                    if (data == 'True') {
                        if (inputPrice.value <= lastestPrice) {
                            alert('Vui lòng nhập giá cao hơn')
                        }
                        $.ajax({
                            method: 'POST',
                            url: '@Url.Action("Bid", "Bid")',
                            data: { idProduct: idProduct, price: inputPrice.value },
                            success: function () {
                                loadHistory()
                            },
                            error: function () {
                                alert('Vui lòng nhập giá tiền')
                            }
                        })
                    } else {
                        alert('Bạn chưa đăng ký đấu giá')
                    }
                },
                error: function () {
                }
            });

        })

        $('#btn-buy').click(function () {
            $.ajax({
                type: 'GET',
                url: '/bid/checkRegister/',
                data: { idProduct: idProduct },
                success: function (data) {
                    if (data == 'True') {
                        $.ajax({
                            method: 'POST',
                            url: '@Url.Action("buy", "Bid")',
                            data: { idProduct: idProduct},
                            success: function () {
                            },
                            error: function () {
                            }
                        })
                    } else {
                        alert('Bạn chưa đăng ký đấu giá')
                    }
                },
                error: function () {
                }
            });

        })

        function checkHistory() {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("getLastestPrice", "Bid")',
                data: { idProduct: idProduct },
                success: function (data) {
                    if (data != 0) {
                        inputPrice.value = data;
                    } else {
                        inputPrice.value = startPrice;
                    }
                },
                error: function () {

                }
            })
        }

        function getLastestPrice() {
            $.ajax({
                method: 'GET',
                url: '@Url.Action("getLastestPrice", "Bid")',
                data: { idProduct: idProduct},
                success: function (data) {
                    $('span.spanColorAuctionproperty.lastest-price').text(currenyFormat(data))
                    var nextprice = Number.parseInt(data) + stepPrice;
                    $('span.spanColorAuctionproperty.next-price').text(currenyFormat(nextprice))
                    lastestPrice = data;
                },
                error: function () {
                }
            })
        }

        function finishBid() {
            $.ajax({
                method: 'POST',
                url: '@Url.Action("finishBid", "Bid")',
                data: { idProduct: idProduct },
                success: function (data) {
                    $("#notify").empty();
                    $("#notify").append(data);
                }
            })
        }

        function currenyFormat(number) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(number)
        }

        function DateTime(id) {
            var parts = document.querySelector(`#${id}`).innerText;
            var dateArray = parts.split("/");
            var newDate = dateArray[1] + '/' + dateArray[0] + '/' + dateArray[2];
            var date = new Date(newDate);
            var milliseconds = date.getTime();
            return milliseconds;
        }

        function countdown () {
            notify.innerHTML = "<b style='color: green;'>Thời gian bắt đầu đăng ký đấu giá:</b>"
            document.getElementById('datgia').style.display = 'none';
            document.getElementById('set_price').style.display = 'none';
            var milliseconds = DateTime('StartingDate');
            var now = new Date().getTime();
            var gap = milliseconds - now;

            if (gap == 0) {
                location.reload(true);
            }

            if (gap < 0) {
                notify.innerHTML = "<b style='color: green;'>Cuộc đấu giá đang diễn ra:</b>"
                document.getElementById('dangkydaugia').style.display = 'none';
                document.getElementById('datgia').style.display = 'block';
                document.getElementById('set_price').style.display = 'block';
                var milliseconds = DateTime('EndingDate');
                var now = new Date().getTime();
                gap = milliseconds - now;

                if (gap == 0) {
                    location.reload(true);
                }

                if (gap < 0) {
                    document.getElementById('dangkydaugia').style.display = 'none';
                    document.getElementById('datgia').style.display = 'none';
                    document.getElementById('set_price').style.display = 'none';
                    $('#btn-buy').hide();
                    notify.innerHTML = "<b style='color: red;'>Cuộc đấu giá đã kết thúc</b>"
                    finishBid();
                    checkTime = false;
                    gap = 0;
                }
            }

            const second = 1000;
            const minute = second * 60;
            const hour = minute * 60;
            const day = hour * 24;
            const textDay = Math.floor(gap / day);

            const textHour = Math.floor((gap % day) / hour);
            const textMinute = Math.floor((gap % hour) / minute);
            const textSecond = Math.floor((gap % minute) / second);

            document.querySelector(".day").innerText = textDay;
            document.querySelector(".hour").innerText = textHour;
            document.querySelector(".minute").innerText = textMinute;
            document.querySelector(".second").innerText = textSecond;
            document.getElementById('text-day').innerText = "Ngày";
            document.getElementById('text-hour').innerText = "Giờ";
            document.getElementById('text-minute').innerText = "Phút";
            document.getElementById('text-second').innerText = "Giây";
        }

        function stopCountdown() {
            if (checkTime == false) {
                clearInterval(idCount)
            }
        }

        function openPage(evt, elmnt, pageName) {
            var i, tabcontent, tablinks, infor_tabcontent, infor_tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(pageName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function checkRegister() {
            let idProduct = @Model.IdProduct;
            let btnRegister = $('#dangkydaugia');
            let btnConfirm = $('#btn-confirm-register');
            $.ajax({
                type: 'GET',
                url: '/bid/checkRegister/',
                data: { idProduct: idProduct},
                success: function (data) {
                    if (data == 'True') {
                        btnRegister.children().removeClass('btn-primary')
                        btnRegister.children().addClass('btn-secondary')
                        btnRegister.children().text('HỦY ĐĂNG KÝ')
                        btnConfirm.removeClass('btn-primary')
                        btnConfirm.addClass('btn-secondary')
                        btnConfirm.text('XÁC NHẬN HỦY ĐĂNG KÝ')
                    } else {
                        btnRegister.children().removeClass('btn-secondary')
                        btnRegister.children().addClass('btn-primary')
                        btnRegister.children().text('ĐĂNG KÝ ĐẤU GIÁ')
                        btnConfirm.removeClass('btn-secondary')
                        btnConfirm.addClass('btn-primary')
                        btnConfirm.text('XÁC NHẬN ĐĂNG KÝ')
                    }
                },
                error: function () {
                }
            });
        }

        function updateTime() {
            $.ajax({
                method: 'GET',
                url: '@Url.Action("updateTime", "Product")',
                data: { idProduct: idProduct },
                success: function (data) {
                    $('#EndingDate').empty()
                    $('#EndingDate').append(data)
                },
                error: function () {

                }
            })
        }


        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        function openInfo(evt, elmnt, pageName) {
            var i,  infor_tabcontent, infor_tablinks;

            infor_tabcontent = document.getElementsByClassName("infor_tabcontent");
            for (i = 0; i < infor_tabcontent.length; i++) {
                infor_tabcontent[i].style.display = "none";
            }

            infor_tablinks = document.getElementsByClassName("infor_tablink");
            for (i = 0; i < infor_tablinks.length; i++) {
                infor_tablinks[i].className = infor_tablinks[i].className.replace(" active", "");
            }
            document.getElementById(pageName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
}
