@using WebDauGia.Models
@using System.Globalization
@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row my-3">
                <div class="col-lg-3">
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">SẢN PHẨM</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var i in ViewBag.categoryList as List<CATEGORY>)
                                {
                                    <li>
                                        <a href="@Url.Action("filterByCategory", "Product", new {id = i.IdCate })" class="nav-link">@i.Name<span class="badge badge-secondary">@i.PRODUCT.Count()</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Thương hiệu <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var i in ViewBag.brandList as List<BRAND>)
                                {
                                    <li>
                                        <a href="@Url.Action("filterByBrand", "Product", new {id = i.IdBrand })" class="nav-link">@i.Name<span class="badge badge-secondary">@i.PRODUCT.Count()</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                    <div class="banner"><a href="#"><img src="~/Public/img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
                </div>
                <div class="col-lg-9">
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">Hiển thị <strong>12</strong> trong số <strong>25</strong> sản phẩm</div>
                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                                    <div class="products-sort-by mt-2 mt-lg-0">
                                        <select name="sort-by" class="form-control">
                                            <option>Sắp xếp theo</option>
                                            <option>Mới nhất</option>
                                            <option>Cũ nhất</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row products">
                        @foreach (var i in Model)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            @foreach (var img in i.IMG)
                                            {
                                                <div class="front"><a href="@Url.Action("Detail", "Product", new { @id = i.IdProduct })"><img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid"></a></div>
                                                <div class="back"><a href="@Url.Action("Detail", "Product", new { @id = i.IdProduct })"><img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid"></a></div>
                                            }
                                        </div>
                                    </div><a href="detail.html" class="invisible"><img src="~/Public/img/product/xemayyamaha.jpg" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3><a href="@Url.Action("Detail", "Product", new { @id = i.IdProduct })">@i.NameProduct</a></h3>
                                        <p class="price">
                                            <del></del>

                                            @string.Format(new CultureInfo("vi-VN"), "{0:c}", i.PriceBuy)
                                        </p>
                                        <p class="buttons"><a href="@Url.Action("Detail", "Product", new { @id = i.IdProduct })" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a></p>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- /.products-->
                    </div>
                    <div class="pages">
                        <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>

