@using WebDauGia.Models
@using System.Globalization
@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "products"
    };
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-3">
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">LOẠI TÀI SẢN</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var i in ViewBag.categoryList as List<CATEGORY>)
                                {
                                    <li class="cate-item" value="@i.IdCate">
                                        @*@Ajax.ActionLink(i.Name, "filter", new { idcate = i.IdCate }, ajaxOptions, htmlAttributes: new { @class = "nav-link" })*@
                                        @i.Name
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Thương hiệu <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var i in ViewBag.brandList as List<BRAND>)
                                {
                                    <li class="brand-item" value="@i.IdBrand">
                                        @*@Ajax.ActionLink(i.Name, "filter", new { idbrand = i.IdBrand }, ajaxOptions, htmlAttributes: new { @class = "nav-link" })*@
                                        @i.Name
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                </div>
                <div class="col-md-9">
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">Hiển thị <strong>12</strong> trong số <strong>25</strong> sản phẩm</div>
                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                                    <div class="products-sort-by mt-2 mt-lg-0">
                                        <select id="sort-by" name="sort-by" class="form-control">
                                            <option value="">Tất cả sản phẩm</option>
                                            <option>Mới nhất</option>
                                            <option>Cũ nhất</option>
                                            <option value="low-to-high">Giá tăng dần</option>
                                            <option value="high-to-low">Giá giảm dần</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="products" class="row products">
                        @Html.Partial("_Products")
                    </div>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var idcate = null;
            var idbrand = null;
            var price = null;

            $('.cate-item').click(function () {
                if (idcate == $(this).val()) {
                    idcate = null;
                } else {
                    idcate = $(this).val();
                }
                idbrand = null;
                loadData(idcate, idbrand, price)
            })

            $('.brand-item').click(function () {
                if (idbrand == $(this).val()) {
                    idbrand = null;
                } else {
                    idbrand = $(this).val();
                }
                loadData(idcate, idbrand, price)
            })

            $('#sort-by').on('change', function () {
                price = $(this).val();
                loadData(idcate, idbrand, price)
            })

            function loadData(idcate, idbrand, price) {
                $.ajax({
                    type: 'GET',
                    url: '/Product/filter',
                    data: { idcate: idcate, idbrand: idbrand, price: price },
                    success: function (data) {
                        $('#products').html(data);
                    }
                });
            }
        });
    </script>
}


