@using WebDauGia.Models
@model PagedList.PagedList<WebDauGia.Models.BLOG>

@{
    ViewBag.Title = "Tạp chí";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "blogs"
    };
}

  


<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Liên hệ</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Liên hệ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script></script>
<div id="all">
    <div id="content">
        <div class="container">
            <div  class="row">
                <div class="col-lg-9">
                    <div id="blogs" class="row">
                        @Html.Partial("_BlogsPartial")
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 panel-title">Blog</h3>
                        </div>
                        <div class="card-body">
                            <div class="nav nav-pills flex-column category-menu">
                                @foreach (var i in ViewBag.CategoryBlog as List<CATEGORY_BLOG>)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input class="cate-item" type="radio" value="@i.IdCate" name="radio">
                                            <span>@i.Name  (@i.BLOG.Count())</span>
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item"><a href="#" aria-label="First" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
                                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><i class="fas fa-angle-left"></i></a></li>
                                @for (int i = 0; i < Model.PageCount; i++)
                                {
                                    if (i == Model.PageNumber - 1)
                                    {
                                        <li class="page-item page-item-number active"><a href="#" class="page-link">@(i+1)</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item page-item-number"><a href="#" class="page-link">@(i+1)</a></li>
                                    }
                                }
                                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><i class="fas fa-angle-right"></i></a></li>
                                <li class="page-item"><a href="#" aria-label="Last" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            let idcate = null;
            let pageNum = 1;

            $('.cate-item').change(function () {
                if (idcate == $(this).val()) {
                    idcate = null;
                } else {
                    idcate = $(this).val();
                }
                loadData(idcate, pageNum)
            })
            $('.page-item').click(function () {
                let aria_label = $(this).children().attr('aria-label');
                let pageCount = $('li.page-item.page-item-number').length;
                $('li.page-item.active').removeClass('active');
                if (aria_label == 'Next') {
                    pageNum++;
                    pageNum = (pageNum >= pageCount) ? pageCount : pageNum;
                    $('.page-item-number').eq(pageNum - 1).addClass('active')
                }
                else if (aria_label == 'Previous') {
                    pageNum--;
                    pageNum = pageNum <= 0 ? 1 : pageNum;
                    $('.page-item-number').eq(pageNum - 1).addClass('active')
                }
                else if (aria_label == 'First') {
                    pageNum = 1;
                    $('.page-item-number').eq(0).addClass('active')
                }
                else if (aria_label == 'Last') {
                    pageNum = pageCount;
                    $('.page-item-number').eq(pageCount - 1).addClass('active')
                } else {
                    pageNum = $(this).children().text();
                    $(this).addClass('active');
                }
                loadData(idcate, pageNum)
            })

            function loadData(idcate, pageNum) {
                $.ajax({
                    type: 'GET',
                    url:'blog/filter',
                    traditional: true,
                    data: { idcate: idcate, pageNum: pageNum },
                    success: function (data) {
                        $('#blogs').html(data);
                    }
                });
            }
        });
    </script>
}