@model WebDauGia.Models.PRODUCT

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

<script src="/Areas/Admin/Helper/ckeditor/ckeditor.js"></script>


@using (Html.BeginForm("Create", "PRODUCTs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">


                    <hr />
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-9">
                                    <h2 class="h2">TẠO MỚI SẢN PHẨM</h2>
                                </div>
                                <div class="col-md-3" style="text-align:right;">
                                    @Html.ActionLink("QUAY LẠI", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row border border-2 border-dark rounded-3 py-3 col-md-10">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NameProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.NameProduct, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.NameProduct, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IdCate, "IdCate", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("IdCate", null, htmlAttributes: new { @class = "form-control border border-dark" })
                                                @Html.ValidationMessageFor(model => model.IdCate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IdBrand, "IdBrand", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("IdBrand", null, htmlAttributes: new { @class = "form-control border border-dark" })
                                                @Html.ValidationMessageFor(model => model.IdBrand, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LowestBid, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.LowestBid, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.LowestBid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.StartPrice, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PriceBuy, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.PriceBuy, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.PriceBuy, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                                                @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                                                @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StartBID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.StartBID, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                                                @Html.ValidationMessageFor(model => model.StartBID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EndBID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.EndBID, new { htmlAttributes = new { @class = "form-control border border-dark", @type = "datetime-local" } })
                                                @Html.ValidationMessageFor(model => model.EndBID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BidTime, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.BidTime, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.BidTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control border border-dark" } })
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IdOwner, "IdOwner", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("IdOwner", null, htmlAttributes: new { @class = "form-control border border-dark" })
                                                @Html.ValidationMessageFor(model => model.IdOwner, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IdBuyer, "IdBuyer", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("IdBuyer", null, htmlAttributes: new { @class = "form-control border border-dark" })
                                                @Html.ValidationMessageFor(model => model.IdBuyer, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StatusBid, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.StatusBid)
                                                    @Html.ValidationMessageFor(model => model.StatusBid, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <lable class="control-label col-md-2">Hình ảnh</lable>
                                            <div class="col-md-12">
                                                <input type="file" name="fileUpload" id="fileUpload" class="custom-file-input">
                                                <div class="image-preview" id="imagePreview">
                                                    <img src="" alt="Image Preview" class="image-preview-img " />
                                                    <span class="image-preview-text">Image Preview</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" }, @id = "txtBodyProduct" })
                                @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("txtBodyProduct");</script>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12 py-3">
                                <input type="submit" value="Tạo" class="btn btn-success form-control" />
                            </div>
                        </div>
                    </div>
                </div>}


<script>
    var fileUpload = document.getElementById("fileUpload");
    var previewContainer = document.getElementById("imagePreview");
    var previewImage = previewContainer.querySelector(".image-preview-img");
    var previewText = previewContainer.querySelector(".image-preview-text");
    fileUpload.addEventListener("change", function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            previewText.style.display = "none";
            previewImage.style.display = "block";
            reader.readAsDataURL(file);
            reader.addEventListener("load", function () {
                previewImage.setAttribute("src", this.result);
            });
        }
        else {
            previewText.style.display = null;
            previewImage.style.display = null;
            previewImage.setAttribute("src", this.result);
        }
    });
</script>