@model IEnumerable<WebDauGia.Models.BLOG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}
<h2 style="text-align:left;margin-top:20px;">DANH SÁCH BÀI VIẾT</h2>
<p style="text-align:right;margin:20px;">
    <a href="@Url.Action("Create","BLOGs")" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table" id="Table">
    <thead>
        <tr>
            <th width="100">
                Hình ảnh
            </th>
            <th>
                Tiêu đề
            </th>
            <th  width="200">
               Nội dung
            </th>
            <th>
               Thể loại
            </th>
            <th>
               Người viết
            </th>
            <th style="text-align:center; width: 150px;"> Chỉnh sửa</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @foreach (var picture in item.IMG_BLOG)
                {
                    if (item.IdBlog == picture.IdBlog)
                    {
                        <img src="@picture.LinkImg" alt="Example blog post alt" class="img-fluid admin_img">
                    }

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>

                @if (item.Body.Length > 100)
                {

                <a style="font-size: 16px;">  @Html.Raw(item.Body.Substring(0, 30).ToLower())</a>
                }
                else
                {
                        <a style="font-size: 16px;">
                            @Html.Raw(item.Body)
                        </a>
                        }

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORY_BLOG.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER.Fullname)
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdBlog }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdBlog }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdBlog })
        </td>*@
            <td style="text-align:center;">
                <a class="btn btn-sm btn-success" href="@Url.Action("Edit","BLOGs",new { @id = item.IdBlog })">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","BLOGs",new { @id = item.IdBlog })">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a class="btn btn-sm btn-info" href="@Url.Action("Details","BLOGs",new { @id = item.IdBlog })">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
