@model IEnumerable<WebDauGia.Models.USER>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table class="table" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RANK.NameRank)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RANK.NameRank)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit","USERs",new { @id = item.IdUser })">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","USERs",new { @id = item.IdUser })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a class="btn btn-sm btn-info" href="@Url.Action("Details","USERs",new { @id = item.IdUser })">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
  
    
    </table>
</body>
</html>
