@model IEnumerable<WebDauGia.Models.RANK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
        </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a class="btn btn-sm btn-success" href="@Url.Action("Edit","RANKs",new { @id = item.IdRank })">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","RANKs",new { @id = item.IdRank })">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a class="btn btn-sm btn-info" href="@Url.Action("Details","RANKs",new { @id = item.IdRank })">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
