@model WebDauGia.Models.PRODUCT
@{
    ViewBag.Title = "UploadProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="/Areas/Admin/Helper/ckeditor/ckeditor.js"></script>
@using (Ajax.BeginForm("UploadProduct", "User", new AjaxOptions { }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Bán tài sản</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Bán tài sản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card sidebar-menu">
                            <div class="card-header">
                                <h3 class="h4 card-title" style="font-weight: bold;">Tài khoản</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-link" data-link="@Url.Action("UserInfor","User")"><a ><i class="fa fa-list"></i> Thông tin cá nhân</a></li>
                                    <li class="nav-link active" data-link="@Url.Action("UploadProductPartial","User")"><a ><i class="fa fa-heart"></i>Đăng bán tài sản</a></li>
                                    <li class="nav-link"> <a><i class="fa fa-user"></i> Lịch sử đấu giá</a></li>
                                    <li><a href="@Url.Action("Logout", "Account")" class="nav-link"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-lg-3-->
                        <!-- *** CUSTOMER MENU END ***-->
                    </div>
                    <div id="User_Infor" class="col-lg-9">
                        @Html.Partial("_UploadProductPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="form-horizontal">
            <div id="id-cate">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdCate, "IdCate", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdCate", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div id="id-brand">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdBrand, "IdBrand", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdBrand", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NameProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameProduct, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LowestBid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LowestBid, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PriceBuy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PriceBuy, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatusBid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.StatusBid)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('#IdCate').on('change', function (e) {
                var optionSelected = $("option:selected", this).text();
                if (optionSelected == "Khác") {
                    var form = document.getElementById('id-cate');
                    var div = document.createElement("div");
                    div.className = 'form-group';
                    div.id = 'new-id-cate';
                    form.appendChild(div);
                    var label = document.createElement('label');
                    label.textContent = "Loại";
                    label.className = "control-label col-md-2";
                    label.id = "new-id-cate";
                    div.appendChild(label);
                    var divInput = document.createElement("div");
                    divInput.className = "col-md-12";
                    div.appendChild(divInput);
                    var input = document.createElement("input");
                    input.id = 'txt-new-cate';
                    input.className = "form-control";
                    input.type = 'text';
                    input.name = 'txt-new-cate';
                    input.placeholder = 'Nhập loại tại đây';
                    divInput.appendChild(input);
                }
                else {
                    if (document.getElementById("new-id-cate")) {
                        $('#new-id-cate').remove();
                    }
                }
            })
            $("#myselect option:selected").text();
            $('#IdBrand').on('change', function (e) {
                var optionSelected = $("option:selected", this).text();
                if (optionSelected == "Khác") {
                    var form = document.getElementById('id-brand');
                    var div = document.createElement("div");
                    div.className = 'form-group';
                    div.id = 'new-id-brand';
                    form.appendChild(div);
                    var label = document.createElement('label');
                    label.textContent = "Hãng";
                    label.className = "control-label col-md-2";
                    label.id = "new-id-brand";
                    div.appendChild(label);
                    var divInput = document.createElement("div");
                    divInput.className = "col-md-12";
                    div.appendChild(divInput);
                    var input = document.createElement("input");
                    input.id = 'txt-new-brand';
                    input.className = "form-control";
                    input.type = 'text';
                    input.name = 'txt-new-brand';
                    input.placeholder = 'Nhập hãng tại đây';
                    divInput.appendChild(input);
                }
                else {
                    if (document.getElementById("new-id-brand")) {
                        $('#new-id-brand').remove();
                    }
                }
            })
            $('.nav-link').click(function () {
                var link = $(this).attr('data-link')
                $('li.nav-link.active').removeClass('active')
                $(this).addClass('active')
                $.ajax({
                    type: 'GET',
                    url: link,
                    traditional: true,
                    success: function (data) {
                        $('#User_Infor').html(data);
                    }
                });
            })
        });
    </script>
}
