@model WebDauGia.Models.PRODUCT
@{
    ViewBag.Title = "UploadProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="/Areas/Admin/Helper/ckeditor/ckeditor.js"></script>
@using (Ajax.BeginForm("UploadProduct", "User", new AjaxOptions { HttpMethod = "POST" }, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">Bán tài sản</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Bán tài sản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card sidebar-menu">
                            <div class="card-header">
                                <h3 class="h4 card-title" style="font-weight: bold;">Tài khoản</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-link" data-link="@Url.Action("UserInfor","User")"><a><i class="fa fa-list"></i> </a>Thông tin cá nhân</li>
                                    <li class="nav-link active" data-link="@Url.Action("UploadProductPartial","User")"><a><i class="fas fa-wallet"></i> </a>Đăng bán tài sản</li>
                                    <li class="nav-link"> <a><i class="fa fa-user"></i> </a>Lịch sử đấu giá</li>
                                    <li><a href="@Url.Action("Logout", "Account")" class="nav-link"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="User_Infor" class="col-lg-9">
                        @Html.Partial("_UploadProductPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('#IdCate').on('change', function (e) {
                var optionSelected = $("option:selected", this).text();
                if (optionSelected == "Khác") {
                    var form = document.getElementById('id-cate');
                    var div = document.createElement("div");
                    div.className = 'form-group';
                    div.id = 'new-id-cate';
                    form.appendChild(div);
                    var label = document.createElement('label');
                    label.textContent = "Loại";
                    label.className = "control-label col-md-2";
                    label.id = "new-id-cate";
                    div.appendChild(label);
                    var divInput = document.createElement("div");
                    divInput.className = "col-md-12";
                    div.appendChild(divInput);
                    var input = document.createElement("input");
                    input.id = 'txt-new-cate';
                    input.className = "form-control border border-dark";
                    input.type = 'text';
                    input.name = 'txt-new-cate';
                    input.placeholder = 'Nhập loại tại đây';
                    divInput.appendChild(input);
                }
                else {
                    if (document.getElementById("new-id-cate")) {
                        $('#new-id-cate').remove();
                    }
                }
            })
            $("#myselect option:selected").text();
            $('#IdBrand').on('change', function (e) {
                var optionSelected = $("option:selected", this).text();
                if (optionSelected == "Khác") {
                    var form = document.getElementById('id-brand');
                    var div = document.createElement("div");
                    div.className = 'form-group';
                    div.id = 'new-id-brand';
                    form.appendChild(div);
                    var label = document.createElement('label');
                    label.textContent = "Hãng";
                    label.className = "control-label col-md-2";
                    label.id = "new-id-brand";
                    div.appendChild(label);
                    var divInput = document.createElement("div");
                    divInput.className = "col-md-12";
                    div.appendChild(divInput);
                    var input = document.createElement("input");
                    input.id = 'txt-new-brand';
                    input.className = "form-control border border-dark";
                    input.type = 'text';
                    input.name = 'txt-new-brand';
                    input.placeholder = 'Nhập hãng tại đây';
                    divInput.appendChild(input);
                }
                else {
                    if (document.getElementById("new-id-brand")) {
                        $('#new-id-brand').remove();
                    }
                }
            })
            $('.nav-link').click(function () {
                var link = $(this).attr('data-link')
                $('li.nav-link.active').removeClass('active')
                $(this).addClass('active')
                $.ajax({
                    type: 'GET',
                    url: link,
                    traditional: true,
                    success: function (data) {
                        $('#User_Infor').html(data);
                    }
                });
            })
        });
    </script>
  
}


