@using WebDauGia.Models
@model IEnumerable<WebDauGia.Models.PRODUCT>
@using System.Globalization
@{
    ViewBag.Title = "Trang chu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="all">
    <div id="content">
        <div id="hot">
            <div class="box py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">TÀI SẢN SẮP ĐƯỢC ĐẤU GIÁ</h2>

                            <div class="section-border"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="product-slider owl-carousel owl-theme">
                    @foreach (var i in ViewBag.Product)
                    {
                        <a href="@Url.Action("Detail","Product", new { @id = i.IdProduct}, null)">
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="image">
                                            @foreach (var img in i.IMG)
                                            {
                                                <img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid">
                                            }
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3>@i.NameProduct</h3>
                                        <p class="price">
                                            <b>Giá khởi điểm:</b>
                                            <span> @string.Format(new CultureInfo("vi-VN"), "{0:c}", i.PriceBuy)</span>
                                        </p>
                                        <p class="time">
                                            <span>Thời gian:@i.StartingDate.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="container">
            <section class="gallery">

                <div class="gallery__content">
                    @foreach (var i in ViewBag.categoryList as List<CATEGORY>)
                    {
                        <div class="gallery__items g1">
                            <a href="#" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g1.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>


                        <div class="gallery__items">
                            <a href="" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g2.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__items">
                            <a href="" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g3.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__items">
                            <a href="" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g4.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__items">
                            <a href="" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g5.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>
                        <div class="gallery__items g6">
                            <a href="" data-lightbox="roadtrip">
                                <img src="~/Public/img/gallery/g6.jpg" alt="">
                                <div class="gallery__text">
                                    <h3> <span style="color:white;">@i.Name.ToUpper() (@i.PRODUCT.Count())</span></h3>
                                    <p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </section>
        </div>
        <div class="box text-center">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0">LIÊN HỆ VỚI CHÚNG TÔI</h2>
                        <div class="section-border"></div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="col-md-12">

                    <div class="row py-1 mt-4 align-items-center">

                        <div class="col-sm-6">
                            <img src="~/Public/img/support.png" accesskey="" alt="" class="img-fluid">
                        </div>
                        <div class="col-sm-6 shadow">
                            @using (Html.BeginForm("ContactPage", "Contact", FormMethod.Post))
                            {

                                @Html.Raw(ViewBag.Notice)<form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="name" id="firstname" type="text" class="form-control" placeholder="Họ tên" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input name="phone" id="phone" type="number" class="form-control" placeholder="Số điện thoại" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input name="email" id="email" type="text" class="form-control" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <input id="Address" type="text" class="form-control" placeholder="Nơi công tác" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <textarea name="title" id="title" class="form-control" placeholder="Tên tài sản" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <textarea name="body" id="message" class="form-control" placeholder="thông tin chi tiết tài sản" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 py-5 text-center">
                                            <button type="submit" class="form-control bg-success btn btn-primary">
                                                <i class="fa fa-envelope-o"></i> Gửi tin nhắn
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <section id="blog" class="blog-mf sect-pt4 route">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box text-center">
                                <h3 class="title-a">
                                    TIN TỨC ĐẤU GIÁ
                                </h3>
                                <div class="section-border"></div>
                                <div class="line-mf"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var i in ViewBag.Blog)
                        {
                            <a href="@Url.Action("Detail","Blog", new { @id = i.IdBlog}, null)">
                                <div class="col-md-4">
                                    <div class="card card-blog">
                                        <div class="card-img">

                                            @foreach (var img in i.IMG_BLOG)
                                            {

                                                <img src="@Url.Content(img.LinkImg)" alt="" class="img-fluid">
                                            }
                                        </div>
                                        <div class="card-body">
                                            <div class="card-category-box">
                                                <div class="card-category">
                                                    <h6 class="category">@i.CATEGORY_BLOG.Name</h6>
                                                </div>
                                            </div>
                                            <h3 class="card-title"><a href="blog-single.html">@i.Title</a></h3>
                                            <p class="card-description">
                                                <a href="#" style="text-transform:lowercase; font-size: 16px;">
                                                    @if (i.Body.Length > 40)
                                                    {
                                                        @Html.Raw(i.Body.Substring(0, 80))

                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(i.Body)
                                                    }
                                                </a>
                                            </p>

                                        </div>
                                        <div class="card-footer">
                                            <div class="post-author">
                                                <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                                <span class="author">@i.USER.Fullname</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>